<a href="https://colab.research.google.com/github/thakurakanksha288/AI-ASSIGNMENT-PYTHON-/blob/main/Data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
path="/content/students_performance_raw.csv"
df=pd.read_csv(path)
df.head()

,student_id,name,age,gender,maths_score,science_score,english_score,attendance,placement_interest
0,1,Rahul Sharma,21.0,Male,88.0,90,92.0,92%,Yes
1,2,Sunita,NaN,F,NaN,85,80.0,85%,Y
2,3,NaN,22.0,male,75.0,-1,70.0,NaN,Maybe
3,4,rohan k,300.0,Female,60.0,58,65.0,70%,No
4,5,NaN,20.0,female,55.0,62,NaN,95%,yes

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [35]:
import numpy as np
import pandas as pd

# Load the dataset from the specified path
path="/content/students_performance_raw.csv"
df=pd.read_csv(path)

# Display the first few rows of the raw DataFrame
df.head()

# Calculate the median age to use for filling missing age values
median=df['age'].median()
print(f"Median age: {median}")

# --- Data Cleaning and Preprocessing Steps ---

# Fill NaN values in the 'age' column with the calculated median
df['age'] = df['age'].fillna(median)

# Handle missing and invalid values in score columns ('maths_score', 'science_score', 'english_score')
score_columns = ['maths_score', 'science_score', 'english_score']
for col in score_columns:
    # Replace '-1' entries with NaN, as -1 is likely an indicator of missing data
    df[col] = df[col].replace(-1, np.nan)
    # Fill any remaining NaN values (original NaNs and those from -1) with the mean of the column
    df[col] = df[col].fillna(df[col].mean())
    # Enforce score constraints: not negative and not above 100
    df[col] = df[col].clip(lower=0, upper=100)

# Standardize the 'gender' column:
# 1. Replace 'F' with 'female' and 'Male' with 'male'
# 2. Convert all entries to lowercase for consistency
df['gender'] = df['gender'].replace({'F': 'female', 'Male': 'male'}).str.lower()

# Fill NaN values in the 'name' column with 'Unknow'
df['name'] = df['name'].fillna('Unknow')

# Standardize the 'placement_interest' column:
# 1. Replace 'YES', 'Y' with 'yes'
# 2. Replace 'NO', 'N', 'Maybe' with 'no'
# 3. Convert all entries to lowercase for consistency
df['placement_interest'] = df['placement_interest'].replace({'YES': 'yes', 'NO': 'no','Maybe':'no','Y':'yes','N':'no'}).str.lower()

# Correct age values that are 100 or greater by replacing them with the median age
# This assumes ages 100+ are data entry errors
df.loc[df['age'] >= 100, 'age'] = df['age'].median()

# Handle the 'attendance' column:
# 1. Remove the '%' character
# 2. Convert the column to a float data type
# 3. Calculate the mean attendance from the cleaned numeric values
# 4. Fill any NaN values with the calculated mean attendance
# 5. Round the attendance values and convert to integer type
df['attendance'] = df['attendance'].str.replace('%', '', regex=False).astype(float)
mean_attendance = df['attendance'].mean()
df['attendance'] = df['attendance'].fillna(mean_attendance)
df['attendance'] = df['attendance'].round().astype(int)

# Display the first few rows of the cleaned DataFrame
df.head()

Median age: 21.5

,student_id,name,age,gender,maths_score,science_score,english_score,attendance,placement_interest
0,1,Rahul Sharma,21.0,male,88.000000,90.0,92.0,92,yes
1,2,Sunita,21.5,female,81.333333,85.0,80.0,85,yes
2,3,Unknow,22.0,male,75.000000,82.0,70.0,89,no
3,4,rohan k,21.5,female,60.000000,58.0,65.0,70,no
4,5,Unknow,20.0,female,55.000000,62.0,85.0,95,yes